package ${cfg.servicePackage};

import ${cfg.entityPackage}.${entity}Entity;
import ${superServiceClassPackage};
import ${cfg.queryParamPath};
import ${cfg.queryBoPath};
import ${cfg.paging};

import java.io.Serializable;

/**
 * <pre>
 * $!{table.comment} 服务类
 * </pre>
 *
 * @author ${author}
 * @since ${date}
 */
#if(${kotlin})
interface ${table.serviceName} : ${superServiceClass}<${entity}Entity>
#else
public interface ${table.serviceName} extends ${superServiceClass}<${entity}Entity> {
#if(${cfg.generatorStrategy} != 'SIMPLE')
#if(${cfg.generatorStrategy} == 'ALL')

    /**
     * 保存
     *
     * @param ${cfg.entityObjectName}
     * @return
     * @throws Exception
     */
    boolean save${entity}(${entity}Bo ${cfg.entityObjectName});

    /**
     * 修改
     *
     * @param ${cfg.entityObjectName}
     * @return
     * @throws Exception
     */
    boolean update${entity}(${entity}Bo ${cfg.entityObjectName});

    /**
     * 删除
     *
     * @param id
     * @return
     * @throws Exception
     */
    boolean delete${entity}(Long id);
#end

    /**
     * 根据ID获取查询对象
     *
     * @param id
     * @return
     * @throws Exception
     */
    ${entity}Bo get${entity}ById(Serializable id);

    /**
     * 获取分页对象
     *
     * @param ${cfg.entityObjectName}QueryParam
     * @return
     * @throws Exception
     */
    Paging<${entity}Bo> get${entity}PageList(${entity}QueryParam ${cfg.entityObjectName}QueryParam);
#end

}
#end
