<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zz.mapper.company.DepartmentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zz.model.entity.DepartmentEntity">
        <id column="ID" property="id"/>
        <result column="CREATED_BY" property="createdBy"/>
        <result column="CREATED_DATE" property="createdDate"/>
        <result column="LAST_UPDATED_BY" property="lastUpdatedBy"/>
        <result column="LAST_UPDATED_DATE" property="lastUpdatedDate"/>
        <result column="DELETED_BY" property="deletedBy"/>
        <result column="DELETED_DATE" property="deletedDate"/>
        <result column="IS_DELETED" property="isDeleted"/>
        <result column="NAME" property="name"/>
        <result column="USER_NAMEE" property="userNamee"/>
        <result column="USER_PHONE" property="userPhone"/>
        <result column="DEPARTMENT_CODE" property="departmentCode"/>
        <result column="SUPERIOR_DEPARTMENT" property="superiorDepartment"/>
        <result column="INTRODUCE" property="introduce"/>
        <result column="KEY_ID" property="keyId"/>
        <result column="STATUS" property="status"/>
    </resultMap>


    <!-- 通用查询映射结果 -->
    <resultMap id="BoResultMap" type="com.zz.model.bo.company.DepartmentBo">
        <id column="ID" property="id"/>
        <result column="CREATED_BY" property="createdBy"/>
        <result column="CREATED_DATE" property="createdDate"/>
        <result column="LAST_UPDATED_BY" property="lastUpdatedBy"/>
        <result column="LAST_UPDATED_DATE" property="lastUpdatedDate"/>
        <result column="DELETED_BY" property="deletedBy"/>
        <result column="DELETED_DATE" property="deletedDate"/>
        <result column="IS_DELETED" property="isDeleted"/>
        <result column="NAME" property="name"/>
        <result column="USER_NAMEE" property="userNamee"/>
        <result column="USER_PHONE" property="userPhone"/>
        <result column="DEPARTMENT_CODE" property="departmentCode"/>
        <result column="SUPERIOR_DEPARTMENT" property="superiorDepartment"/>
        <result column="INTRODUCE" property="introduce"/>
        <result column="KEY_ID" property="keyId"/>
        <result column="STATUS" property="status"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        CREATED_BY,
        CREATED_DATE,
        LAST_UPDATED_BY,
        LAST_UPDATED_DATE,
        DELETED_BY,
        DELETED_DATE,
        IS_DELETED,
        ID, NAME, USER_NAMEE, USER_PHONE, DEPARTMENT_CODE, SUPERIOR_DEPARTMENT, INTRODUCE, KEY_ID, STATUS
    </sql>

    <select id="getDepartmentById" resultMap="BoResultMap">
        select
        <include refid="Base_Column_List"/>
        from DEPARTMENT where id = #{id}
    </select>

    <select id="getDepartmentPageList" resultMap="BoResultMap">
        select
        <include refid="Base_Column_List"/>
        from DEPARTMENT
    </select>

</mapper>
